header {
    background-color: #10495c;
    margin-bottom: 1ex;
    width: 100%;
    position: relative;
}
.header {
    display: flex;
    padding-top: 2ex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.pagename {
    height: 12ex;
    font-weight: bold;
    font-size:xx-large;
    text-align: center;
    color: #ede1d0;
    width: 100%;
    margin-bottom: 1ex;
    padding-bottom: 7ex;
}

.pagename p {
    margin: 0;
    position: relative;
    top: 40%;
}

footer {
    background-color: #ede1d0;
    text-align: center;
}

.links {
    display: block;
    box-sizing: border-box;
    margin-right: 3ex;
}

.link {
    font-weight: bold;
    text-decoration: none;
    color: #ede1d0;
    margin-left: 2ex;
    padding: 1ex;
    white-space: nowrap;
}

.link:hover {
    color: #10495c;
    background-color: #ede1d0;
    border-radius: 1ex;
    padding: 1ex;
}

.logo {
    width: 20ex;
    border-radius: 2ex;
    margin-left: 2ex;
}

body {
    background-color: #ede1d0;
    margin: 0;
}

.search_input {
    border-radius: 1ex;
    margin: 1ex;
    width: 50ex;
}

.search_input:hover {
    border-radius: 2ex;
    border-color: #ede1d0;
}

.search_button {
    border-radius: 1ex;
    margin: 1ex;
    width: 15ex;
    font-weight: bold;
}

.search_button:hover {
    border-radius: 2ex;
    border-color: #ede1d0;
    font-weight: bold;
}

.about {
    word-wrap: break-word;
    margin: 5ex;
}

.authors {
    text-align: center;
}
.author{
    border-radius: 2ex;
    color: #10495c;
    box-shadow: 0 4ex 8ex rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    padding: 2ex;
    margin: 6ex;
    width: 80ex;
    height: 60ex;
    display: inline-block;
}
.author:hover {
    color: #ede1d0;
    background-color: #10495c;
}
.infoHeader {
    text-align: center;
    font-weight: bold;
    font-size: 4ex;
    padding-top: 2ex;
}

.author_photo{
    width: 25ex;
    height: 40ex;
    margin: 3ex;
    position: relative;
}

.info_text {
    height: 30ex;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: hsl(0 0% 50%);
    position: relative;
}
.info{
    margin-right: 3ex;
    display: flex;
    justify-content: space-between;
}

.infoNews{
    margin: 3ex;
    display: flex;
    justify-content: space-between;
}



.authorization,
.registration {
    border-radius: 2ex;
    background: #ede1d0;
    display: inline-block;
    width: 50ex;
    margin: 5ex;
    padding: 4ex;
    box-shadow: 0 4ex 8ex rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    text-align: center;
}

.login{
    padding-bottom: 5ex;
    position: relative;
}

.authorization,
.registration {
    font-size: 2.5ex;
    width: 40ex;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10ex;
}

.authorization .link,
.registration .link{
    color: #000;
}

.authorization:hover,
.registration:hover {
    color: #ede1d0;
    background-color: #10495c;
}
.authorization:hover .link,
.registration:hover .link{
    color:  #ede1d0;
}
.authorization:hover .link:hover,
.registration:hover .link:hover{
    color: #10495c;
    background-color: #ede1d0;
    border-radius: 1ex;
}

.registration {
    height: 50ex;
}

.createOrder{
    border-radius: 2ex;
    background: #ede1d0;
    display: inline-block;
    width: 50ex;
    margin: 5ex;
    padding: 4ex;
    box-shadow: 0 4ex 8ex rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    text-align: center;
    font-size: 2.5ex;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10ex;
}

.createOrder:hover{
    color: #ede1d0;
    background-color: #10495c;
}

.go_to_top {
    position: fixed;
    right: 1ex;
    bottom: 3ex;
    background: #10495c;
    display: inline-block;
    color: #ede1d0;
    font-size: 2ex;
    padding: 0 1ex;
    line-height: 5ex;
    text-align: center;
    z-index: 100;
    border-radius: 3ex;
}

.input {
    border-radius: 2ex;
    padding: 1ex;
    font-weight: bold;
}

.input:hover {
    border-radius: 2ex;
    border-color: #ede1d0;
}
.contacts{
    margin-bottom: 10ex;
    color: #10495c;
    text-align: center;
    padding-top: 5ex;
}
.contacts p{
    font-size: 3ex;
}
.contact{
    font-weight: bold;
    text-decoration: none;
    color: #10495c;
}
.map{
    background-color:#10495c;
    text-align: center;
    padding: 1ex;
}

.lightlink {
    font-weight: bold;
    text-decoration: none;
    color: #10495c;
    margin-left: 2ex;
    padding: 1ex;
    white-space: nowrap;
}

.lightlink:hover {
    color: #ede1d0;
    background-color:#10495c;
    border-radius: 1ex;
    padding: 1ex;
}

table {
	width: 100%;
    margin-top: 3ex
    
}
thead {
	font-weight:bold;
    font-size: 2.5ex;
	text-align: center;
	color: #10495c;
	}
table tbody td {
	padding: 2ex;
	line-height: 0.7ex;
    font-size: 2ex;
	color: #444441;
    text-align: center;
    border-top: 0.2ex solid #10495c;
}

.newslink {
    font-weight: bold;
    text-decoration: none;
    color: #000;
    margin-left: 2ex;
    padding: 1ex;
    white-space: nowrap;
}
.newslink:hover {
    color: #10495c;
    background-color: #ede1d0;
    border-radius: 1ex;
    padding: 1ex;
}
.news{
    border-radius: 2ex;
    color: #10495c;
    box-shadow: 0 4ex 8ex rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    padding: 3ex;
    margin: 3ex;
    display: inline-block;
}