{% extends 'base.html' %}
{% block title %} ELL_KN - authors {% endblock %}

{% block content %}
{% if current_user.is_authenticated and current_user.get_role() == 'ADMIN'%}
<a class='lightlink' href="/createAuthor">Добавить автора</a>
{% endif %}
    <div class = 'authors'>
        {% for author in authors %}
        <div class = "author">
            <p class = "infoHeader"> {{author[1]}} </p>
            <div class = "info">
                    
                <div class = "author_photo">
                    {% if author [3] != None %}
                    {{author[3]}}
                    {%else%}
                    <p class = "photo">Фотография отсутствует </p>
                    {% endif %}
                </div>
                
                <div class = 'info_text'>{{author[2][:500]}} ... <a href="/author/{{author[0]}}" class="newslink">Подробнее</a></div>

            </div>
        </div>
        {% endfor %}
    </div>
    
{% endblock %}