{% extends 'base.html' %}
{% block title %} ELL_KN - author {% endblock %}

{% block content %}
<div class = "news">
    <p class = "infoHeader"> {{author[1]}} </p>
    <div class = "info">
            
        <div class = "author_photo">
            {% if author [3] != None %}
            {{author[3]}}
            {%else%}
            <p class = "photo">Фотография отсутствует </p>
            {% endif %}
        </div>
        
        <div class = 'info_text'>{{author[2]}} </div>

    </div>
</div>
    
{% endblock %}