{% extends 'base.html' %}
{% block title %} ELL_KN - change password{% endblock %}

{% block content %}
<div class = "login">
    <div class = "authorization">
        <form name = 'login' action = '' methods = 'POST'>
            <p><input class = 'input' type="email" name="email" placeholder = 'Email'></p>
            <p> <input type = 'submit' class = "input" value = 'Восстановить'></p>
        </form>
        <p><a class = 'link' href="/login">Войти</a>
        <a class = 'link' href="/registration">Регистрация</a></p>
    </div>
</div>
{% endblock %}