{% extends 'base.html' %}
{% block title %} ELL_KN - registration{% endblock %}

{% block content %}
<div class = "login">
    <div class = "authorization">
        <form name = 'login' action = '' methods = 'POST'>
            <p><input class = 'input' type="email" name="email" placeholder = 'Email'></p>
            <p> <input type = 'submit' class = "input" value = 'Восстановить'></p>
        </form>
        <p><a class = 'link' href="/login">Войти</a>
        <a class = 'link' href="/registration">Регистрация</a></p>
    </div>
    <div class = "authorization" >
        <form name = 'login' action = '' methods = 'POST'>
            <p><input class = 'input' type="password" name="password" placeholder = 'Новый пароль'></p>
            <p><input class = 'input' type="password" name="password" placeholder = 'Повторите новый пароль'></p>
            <p> <input type = 'submit' class = "input" value = 'Изменить пароль'></p>
        </form>
        <p><a class = 'link' href="/login">Войти</a>
        <a class = 'link' href="/registration">Регистрация</a></p>
    </div>
</div>
{% endblock %}