{% extends 'base.html' %}
{% block title %} ELL_KN {% endblock %}

{% block content %}
    {% if role == 'ADMIN'%}
        <a href="/createNews" class="createNews">Добавить публикацию</a>
    {%endif%}
    <div class = "authors">
        {% for item in con %}
        <div class = "author">
            <p class = "infoHeader"> {{item[1]}} </p>
            <div class = "infoNews">
            {{item[2][:500]}}...
            </div>
            <a href="/news/{{item[0]}}" class="newslink">Подробнее</a>
        </div>
        {% endfor %}
    </div>
{% endblock %}