{% extends 'base.html' %}
{% block title %} ELL_KN - LogIn {% endblock %}

{% block content %}
<div class = "login">
    <div class = "authorization">
        <h4>Авторизация</h4>
        <form name = 'login' action = '' method = 'POST'>
            <p><input class = 'input' type="email" name="email" placeholder = 'Email'  minlength = "2" maxlength = "3000" required></p>
            <p><input class = 'input' type="password" name="password" placeholder = 'Password'  minlength = "12" maxlength = "3000" required></p>
           <p> <input type = 'submit' class = "input" value = 'Войти'></p>
        </form>
        <p><a class = 'link' href="/registration">Регистрация</a>
        <a class = 'link' href="/changePassword">Забыли пароль</a></p>
    </div>
</div>

{% endblock %}